In [1]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer
import pandas as pd
nltk.download('punkt')
nltk.download('popular')

[nltk_data] Downloading package punkt to /home/mgdill/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading collection 'popular'
[nltk_data]    |
[nltk_data]    | Downloading package cmudict to
[nltk_data]    |     /home/mgdill/nltk_data...
[nltk_data]    |   Package cmudict is already up-to-date!
[nltk_data]    | Downloading package gazetteers to
[nltk_data]    |     /home/mgdill/nltk_data...
[nltk_data]    |   Package gazetteers is already up-to-date!
[nltk_data]    | Downloading package genesis to
[nltk_data]    |     /home/mgdill/nltk_data...
[nltk_data]    |   Package genesis is already up-to-date!
[nltk_data]    | Downloading package gutenberg to
[nltk_data]    |     /home/mgdill/nltk_data...
[nltk_data]    |   Package gutenberg is already up-to-date!
[nltk_data]    | Downloading package inaugural to
[nltk_data]    |     /home/mgdill/nltk_data...
[nltk_data]    |   Package inaugural is already up-to-date!
[nltk_data]    | Downloading package movie_reviews to
[nltk_data]    |     /home/mgdill/nltk_data...
[nltk_data]    |   Package movie_reviews is already up-to-date!
[nltk_data]    | Downloading package names to
[nltk_data]    |     /home/mgdill/nltk_data...
[nltk_data]    |   Package names is already up-to-date!
[nltk_data]    | Downloading package shakespeare to
[nltk_data]    |     /home/mgdill/nltk_data...
[nltk_data]    |   Package shakespeare is already up-to-date!
[nltk_data]    | Downloading package stopwords to
[nltk_data]    |     /home/mgdill/nltk_data...
[nltk_data]    |   Package stopwords is already up-to-date!
[nltk_data]    | Downloading package treebank to
[nltk_data]    |     /home/mgdill/nltk_data...
[nltk_data]    |   Package treebank is already up-to-date!
[nltk_data]    | Downloading package twitter_samples to
[nltk_data]    |     /home/mgdill/nltk_data...
[nltk_data]    |   Package twitter_samples is already up-to-date!
[nltk_data]    | Downloading package omw to /home/mgdill/nltk_data...
[nltk_data]    |   Package omw is already up-to-date!
[nltk_data]    | Downloading package omw-1.4 to
[nltk_data]    |     /home/mgdill/nltk_data...
[nltk_data]    |   Package omw-1.4 is already up-to-date!
[nltk_data]    | Downloading package wordnet to
[nltk_data]    |     /home/mgdill/nltk_data...
[nltk_data]    |   Package wordnet is already up-to-date!
[nltk_data]    | Downloading package wordnet2021 to
[nltk_data]    |     /home/mgdill/nltk_data...
[nltk_data]    |   Package wordnet2021 is already up-to-date!
[nltk_data]    | Downloading package wordnet31 to
[nltk_data]    |     /home/mgdill/nltk_data...
[nltk_data]    |   Package wordnet31 is already up-to-date!
[nltk_data]    | Downloading package wordnet_ic to
[nltk_data]    |     /home/mgdill/nltk_data...
[nltk_data]    |   Package wordnet_ic is already up-to-date!
[nltk_data]    | Downloading package words to
[nltk_data]    |     /home/mgdill/nltk_data...
[nltk_data]    |   Package words is already up-to-date!
[nltk_data]    | Downloading package maxent_ne_chunker to
[nltk_data]    |     /home/mgdill/nltk_data...
[nltk_data]    |   Package maxent_ne_chunker is already up-to-date!
[nltk_data]    | Downloading package punkt to
[nltk_data]    |     /home/mgdill/nltk_data...
[nltk_data]    |   Package punkt is already up-to-date!
[nltk_data]    | Downloading package snowball_data to
[nltk_data]    |     /home/mgdill/nltk_data...
[nltk_data]    |   Package snowball_data is already up-to-date!
[nltk_data]    | Downloading package averaged_perceptron_tagger to
[nltk_data]    |     /home/mgdill/nltk_data...
[nltk_data]    |   Package averaged_perceptron_tagger is already up-
[nltk_data]    |       to-date!
[nltk_data]    |
[nltk_data]  Done downloading collection popular

True

In [2]:
data = pd.read_csv('NPS_research_summaries.csv')

In [3]:
summaries = data['Summary']

In [4]:
summaries.to_csv("summaries.csv")

In [8]:
#this block of code will tokenize each summary and remove stopwords
sum_series = []

for summary in summaries:
    if type(summary) == type(""): #if summary is a string
        summary = summary.lower()
    else:
        continue
    tokenizer = RegexpTokenizer(r'\w+') #use regex to only select words (remove punctuation)
    tokens = tokenizer.tokenize(summary) #get a list of the individual words in the summary
    
    stop_words = set(stopwords.words('english'))
    filtered_summary = []

    #remove stop words
    for w in tokens:
        if w.lower() not in stop_words:
            filtered_summary.append(w)

    #print("filtered_summary")
    #print(filtered_summary)

    s = pd.Series(filtered_summary)
    sum_series.append(s.value_counts()) #get the counts of each unique word and store it to be aggregated later
    #print(s.value_counts())
    #print("\n")

In [9]:
#this loop will generate the word count matrix from the words counts in sum_series
df1 = pd.DataFrame()
i = 0
for s in sum_series:
    df2 = s.to_frame(name="summary" + str(i))
    df1 = pd.concat([df1, df2], axis=1)
    i += 1

In [10]:
df1["sum"] = df1.sum(axis=1) #add a sum column

In [11]:
df1 #final word count matrix dataframe

,summary0,summary1,summary2,summary3,summary4,summary5,summary6,summary7,summary8,summary9,...,summary7303,summary7304,summary7305,summary7306,summary7307,summary7308,summary7309,summary7310,summary7311,sum
cdew,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0
project,1.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,2231.0
luscombe,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
weapons,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,364.0
energy,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,940.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
navicp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
p309470,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0
isse,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0
270,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0

In [12]:
sort = df1["sum"].sort_values(ascending=False)
sort.to_csv("word_counts.csv")

research           725.0
nps                536.0
systems            439.0
data               357.0
support            339.0
                   ...
circumferential      1.0
mcm                  1.0
suw                  1.0
stationed            1.0
diminish             1.0
Name: sum, Length: 8626, dtype: float64

In [ ]:
df1_t = df1.transpose()
df1_t.to_csv("word_count_matrix_all.csv")

# Generate the Documnet Count Matrix

In [2]:
df1_t = pd.read_csv('word_count_matrix_all.csv')  #load word count matrix from disc to save time

In [4]:
df1_t.set_index('Unnamed: 0') #reset index

,cdew,project,luscombe,weapons,energy,directed,counter,metamaterials,electrodynamics,james,...,ber,spectrally,oamcm,oasis,e606,fds,navicp,p309470,isse,270
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
summary0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
summary1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
summary2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
summary3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
summary4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
summary7308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
summary7309,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
summary7310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
summary7311,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sum,15.0,2231.0,2.0,364.0,940.0,203.0,188.0,17.0,2.0,6.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [5]:
df1_t.count().sort_values(ascending = False).to_csv("word_document_counts_all.csv")

In [22]:
df_percent_counts = pd.DataFrame(df1_t.count().sort_values(ascending = False))
df_percent_counts

                    0
Unnamed: 0       7313
research         2914
support          2186
nps              2149
provide          1849
...               ...
drabek              2
extraordinarily     2
larson              2
barreto             2
270                 2

[19937 rows x 1 columns]

In [28]:
df_percent_counts = df_percent_counts.drop(['Unnamed: 0'])

In [30]:
num_of_summaries = 7313
df_percent_counts["percentage"] = df_percent_counts[0] / num_of_summaries
df_percent_counts

                    0  percentage
research         2914    0.398468
support          2186    0.298920
nps              2149    0.293860
provide          1849    0.252837
systems          1737    0.237522
...               ...         ...
drabek              2    0.000273
extraordinarily     2    0.000273
larson              2    0.000273
barreto             2    0.000273
270                 2    0.000273

[19936 rows x 2 columns]

In [31]:
df_percent_counts.to_csv("word_document_counts_with_percentage.csv")